body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.gallery {
    width: 620px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    width: 200px;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.04);
}

.gallery-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.gallery-image {
    width: 100%;
    height: auto;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: transform 1s linear; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0; 
}

.modal img {
    max-width: 100%;
    max-height: 100%;
    border: 6px solid #000;
    object-fit: contain;
}

.modal.open {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 1; 
}
